{% extends "main.html" %}

{% block title %}
    droid
{% endblock %}


{% block content %}

    <div class="row justify-content-center">
        <h1 id="content-title" class="col-8">DROID</h1>
    </div>

    <div id="content-game" class="row justify-content-center">
        <iframe src="https://i.simmer.io/@marie_phuqui/droid-box" style="width:960px;height:600px"  class="col-8"></iframe>
    </div>

    <div id="content-text" class="row justify-content-center">

        <p class="col-8">
            lalala
        </p>
    </div>

{% endblock %}

