{% extends "main.html" %}

{% block title %}
    Challenge
{% endblock %}


{% block content %}

    <div class="row justify-content-center">
        <h1 id="content-title" class="col-8">Challenge</h1>
    </div>

    <div id="content-game" class="row justify-content-center">
        <iframe src="https://i.simmer.io/@marie_phuqui/rlracing" style="width:960px;height:600px" class="col-8"></iframe>
    </div>

    <div id="content-text" class="row justify-content-center">

        <video width="320" height="240" autoplay title="result from a training with final game">
            <source src="{{ url_for('static', filename='hardBrainTimer.mp4') }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>

        <video width="320" height="240" autoplay title="result from a progressive training">
            <source src="{{ url_for('static', filename='empiricalBrainTimer.mp4') }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>

        <p class="col-8">
            lalala
        </p>

    </div>

{% endblock %}